@model MoonServer.Models.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade.EuroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.EuroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoldSetup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoldSetup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBenchmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBenchmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
